

.ontext{
    position: absolute ;
    background-color: #4aaaa5;
    width: 304px;
    color: #ffffff;
    margin-top: 180px;
    text-align: center !important;
 
}


.clearfix {
    overflow: !important;
  }
.btn-color{
    background-color: #4aaaa5;
    color: #ffffff;

}

.imagesize{
    width: 150px  !important;
    
 
 
}
 
.myfooter{

    background-color: #666666 !important;
    border-top: 6px solid #4aaaa5 !important;
    color: #ffffff;

}
.navbar{
    background-color: #ffffff !important; 
    border-color: #cccccc !important;
    color: #666666;
    
    
}
 


.navigator{

    background-color: #4aaaa5 !important;
    color: #ffffff;
    margin-left: 150px !important;
    width: 300px;
    height: 55px;
    position: fixed;
    text-align: center !important;
    
 
}

.maincontainer{
    border-color: #cccccc !important;
    background-color: #ffffff;
    
    margin-bottom: 50px;
}